.input_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input_field {
  width: 470px;
  height: 48px;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.input_label {
  font-size: 16px;
}
