.login_form_container {
  display: flex;
  justify-content: center;
}
.login-title {
  color: #000000;
  font-size: 24px;
  margin-bottom: 20px;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 600px;
  padding: 60px;
  border: 1px solid #000000;
  border-radius: 4px;
}
.login_button {
  width: 470px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #1f27f5;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
.login_button:hover {
  background-color: #0d15d4;
}
