.homework_02_wrapper{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: rgb(110, 110, 163);
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
}