.feedback_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
}
.buttons {
  width: 200px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.counter {
  font-weight: bold;
}
.reset_button {
  width: 200px;
}

.button_component {
  border-radius: 14px;
}
